
    <% @tags_books.each do |tags_book| %>
      <tr>
        <td><%= tags_book.tag_id %></td>
        <td><%= tags_book.book_id %></td>
        <td><%= link_to 'Show', tags_book %></td>
        <td><%= link_to 'Edit', edit_tags_book_path(tags_book) %></td>
        <td><%= link_to 'Destroy', tags_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
<br>

<%= link_to 'New Tags Book', new_tags_book_path %>
