<%= stylesheet_link_tag "/books/show" %>

<div class="container-fluid">
  <div class="row pt-5">
    <div class="col-4 imgshow-custom">
      <%= image_tag @book.photo.variant(resize_to_limit: [150 ,250 ]) %>
    </div>  

    <div class="col-8">
      <div class="row">
        <h1><%= @book.title %></h1>
      </div>

      <div class="row">
        <h3 class="h3-custom">Autor: <%= @book.author %></h3>
      </div>

      <div class="row">
        <h3 class="h3-custom">Ano de Publicação: <%= @book.year %><h3>
      </div>

      <div class="row pt-4">
        <h3><%= link_to "Abrir Pdf do Livro", url_for(@book.document), class:"btn" %><h3>
      </div>

      <div class="row">
        <div class="col-2">
          <%= link_to "Editar Livro", edit_book_path(@book), class:"link-custom" %></li>
        </div>

        <div class="col-2">
          <%= link_to "Deletar Livro", book_path(@book),
                        method: :delete,
                        data: { confirm: "Atenção: O livro será apagado. Deseja confirmar?" },
                        class:"link-delete" %></li>
        </div> 
      </div>

      <div class="row pt-3">
        <%= link_to "Adicionar uma Tag a esse livro" , new_tags_book_path(book_id: @book.id) , class:"link-custom" %>
      </div>
    </div>
  </div>

  <div class="row pt-4">
    <% @tags_books.each do |tags_book| %>
      <% @tags.each do |tag| %>
        <% if (tags_book.book_id == @book.id) && (tags_book.tag_id == tag.id)%>
            <div class="col-2 text-center pt-4">
              <div class="badge custom-tag">
                <%=tag.name%>
              </div>
            </div>
        <%end%>
      <%end%>    
    <%end%>                        
  </div>

</div>
