<%= form_with(model: tag) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> Essa tag não foi salva pois:</h2>

      <ul>
        <% tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-3 py-3 pl-4">
      
      <% form.label :name %>
      <%= form.text_field :name, placeholder:"Nome da Tag" %> 
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <%= form.label :category ,"Categoria da Tag"%><br>
      <%= form.select :category, ["Semestre", "Disciplina", "Outros", "Licenciatura", "Bacharelado"],
      class:"custom-select" %>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-sm-3 ">
      <%= form.submit "Criar Tag" , class:"btn" %>
    </div>
  </div>

<% end %>
