<%= stylesheet_link_tag "/tags/index" %>
<p id="notice"><%= notice %></p>

<h1>Tags</h1>

<table class="table">
  <thead class="thead-custom">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= tag.category %></td>
        <td><%= link_to 'Adcionar Tag a algum livro', new_tags_book_path(tag_id: tag.id) , class:"btn btn-secondary" %></td>
        <td><%= link_to 'Editar a Tag', edit_tag_path(tag), class:"btn btn-secondary" %></td>
        <td><%= link_to 'Deletar a Tag', tag, method: :delete, data: { confirm: 'Deseja deletar a Tag?' }, class:"btn btn-delete" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar nova Tag', new_tag_path, class:"btn" %>
